body {
    background-color: #fff;
}
.navbar {
    background-color: #eee;
    border-radius: 0;
}
.navbar .navbar-brand {
    color: #1DAFF0;
    font-size: 20px;
}
.navbar a {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
}
ul.navbar-nav li {
    border-left: solid 1px #fff;
    padding: 0;
}
ul.navbar-nav li.active a, ul.navbar-nav li a:hover {
    background-color: #d5d5d5;
}
ul.navbar-nav li a {
}
#iron-router-progress {
    background-color : #1DAFF0;
}
ul.course-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.course-list li {
    width: 100%;
    background-color: #E65A4B;
    margin: 7px 0;
}
ul.course-list li:hover {
    background-color: #FD6251;
}
ul.course-list li .category {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 12px 0 12px 10px;
    opacity: .5;
}
ul.course-list li .name {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 10px 10px 10px 0;
}
